@import url("https://fonts.googleapis.com/css?family=Righteous");

span{
    // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Righteous', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}