<div>
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <a fxLayoutGap="10px">
            <img src="../../assets/grafico.png" width="50px" height="50px">
            <span>MLT Ações</span>
        </a>
        <mat-form-field class="search-input">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="search" placeholder="Pesquisar" >
        </mat-form-field>
        <!-- <div style="background-color: aqua;width: 300px;" height="50px" fxLayoutAlign="center center">
        </div> -->

        <!-- <div>
            <div mat-card-avatar class="example-header-image"></div>
            <a [routerLink]="['']">{{sessionForm?.name}}</a>
        </div> -->
    </div>
    <div *ngIf="!actionList.length" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 100px; color: #777;">
        <div fxLayout="column" fxLayoutAlign="center center">
            <p style="font-size: 22px; font-weight: bold;">Opss!!! Você ainda não possui ações</p>
            <p style="font-size: 22px;">Clique no botão abaixo para adicionar uma nova ação!</p>
        </div>
        <br>
        <div fxLayoutAlign="end" style="padding: 0px 20px;">
            <button mat-raised-button color="primary" (click)="createAction()">
                <mat-icon fontIcon="add"></mat-icon>
                Adicionar 
            </button>
        </div>
    </div>
    <div *ngIf="actionList.length" fxLayout="column">
        <div fxLayoutAlign="end" style="padding: 0px 20px;">
            <button mat-raised-button color="primary" matTooltip="Adicionar nova ação" (click)="createAction()">
                <mat-icon fontIcon="add"></mat-icon>
                Adicionar 
            </button>
        </div>
        <div class='list-actions'>
            <mat-card class="example-card" *ngFor="let action of actionList; index as i">
                <mat-card-header style="background-color: #eee; justify-content: space-between;">
                    <mat-card-title> Ação - {{action.codigo}}</mat-card-title>
                    <mat-card-subtitle>{{action.data}}</mat-card-subtitle>
                    <div>
                    </div>
                    <button mat-mini-fab color="Accent" matTooltip="Ver mais" (click)="viewAction(action)">
                        <mat-icon fontIcon="visibility"></mat-icon>
                    </button>
                </mat-card-header>
                <br>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content fxLayout="column" fxLayoutAlign="start">
                  <p style="font-weight: bold;">Descrição</p>
                  <p>{{action.descricao}}</p>
                </mat-card-content>
                <br>
                <div *ngIf="actionInformationsId === action.id" id="card-informations" class="card-informations">
                    <div class="row" fxLayout="row" fxLayoutGap="20px">
                        <div fxLayout="column" fxLayoutAlign="start center">
                            <p style="font-weight: bold;">Volume</p>
                            <p>{{action.volume}}</p>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center">
                            <p style="font-weight: bold;;">Id</p>
                            <p>{{action.id}}</p>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center">
                            <p style="font-weight: bold;">High</p>
                            <p>{{action.high}}</p>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center">
                            <p style="font-weight: bold;">Low</p>
                            <p>{{action.low}}</p>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center">
                            <p style="font-weight: bold;">Open</p>
                            <p>{{action.open}}</p>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center">
                            <p style="font-weight: bold;">Low</p>
                            <p>{{action.close}}</p>
                        </div>
                    </div>
                </div>
    
                <mat-card-actions fxLayoutAlign="end" style="gap: 10px; margin-top: 10px;">
                    <button mat-raised-button (click)="editAction(action)">
                        <mat-icon fontIcon="edit"></mat-icon>
                        Editar
                    </button>
                    <button mat-raised-button color="warn" (click)="deleteAction(action)">Deletar</button>
    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>