.header{
    width: 100% !important;
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    height: 100px !important;
    margin-bottom: 20px;
    justify-content: space-between !important;
    
    span{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
    }

    .search-input{
        width: 400px !important;
        margin-top: 15px !important;
    }
}

.example-card{
    min-width: 200px;
    // max-width: 300px;
}

.color1{
    background-color: #0000;
    color: #ffff;
}

.list-actions{
    width: 100%;
    padding: 20px;
    gap: 30px;
    display: grid !important;
    // grid-template-columns: repeat(3, 1fr);
}
