.header{
    width: 100% !important;
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    height: 100px !important;
    margin-bottom: 30px;
    justify-content: space-between !important;
    
    span{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
    }
}

.example-card{
    width: 300px;
}

.color1{
    background-color: #0000;
    color: #ffff;
}