<div>
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <a fxLayoutGap="10px">
            <img src="../../assets/grafico.png" width="50px" height="50px">
            <span>MLT Ações</span>
        </a>
        <!-- <div style="width: 400px;">
            <form>
                <i aria-hidden="true"></i>
                <input 
                    class="rounded" 
                    type="search" 
                    placeholder="search..." 
                    autofocus
                    >
            </form>
        </div> -->

        <!-- <div>
            <div mat-card-avatar class="example-header-image"></div>
            <a [routerLink]="['']">{{sessionForm?.name}}</a>
        </div> -->
    </div>
    <div class='list-actions'>
        <mat-card class="example-card" *ngFor="let action of sessionForm; index as i">
            <mat-card-header style="background-color: #eee; justify-content: space-between;">
                <mat-card-title>{{action.codigo}}</mat-card-title>
                <mat-card-subtitle>{{action.data}}</mat-card-subtitle>
                <div>
                </div>
                <button mat-mini-fab color="Accent" matTooltip="Ver mais">
                    <mat-icon fontIcon="visibility"></mat-icon>
                </button>
            </mat-card-header>
            <br>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content style="display: flex; flex-direction: column;">
              <p>Descrição - {{action.descricao}}</p>
              <p>Close - {{action.close}}</p>
              <p>High - {{action.high}}</p>
              <p>Id - {{action.id}}</p>
              <p>Volume - {{action.volume}}</p>
            </mat-card-content>
            <mat-card-actions style="gap: 10px; margin-top: 10px;">
              <button mat-raised-button>
                <mat-icon fontIcon="edit"></mat-icon>
                Editar
                </button>
              <button mat-raised-button color="warn">Deletar</button>

            </mat-card-actions>
        </mat-card>
    </div>
</div>