.flow-home{
    background: url('../../assets/media.jpg') no-repeat center center fixed;
    height: 100vh;
    background-position: 35% 45%;
    background-size: cover; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover; 
}